<div class="container">
  <h1>App Meteo</h1>

  <div class="search">
    <input [(ngModel)]="citta" placeholder="Inserisci una città..." />
    <button (click)="cercaMeteo()">Cerca</button>
  </div>

  <div *ngIf="datiMeteo" class="weather-info">
    <h2>{{ citta }}</h2>
    <p>Temperatura: {{ datiMeteo.temperature }}°C</p>
    <p>Velocità del vento: {{ datiMeteo.windspeed }} km/h</p>
    <button (click)="aggiungiAiPreferiti()">Aggiungi ai preferiti</button>
  </div>

  <h3>Città Preferite</h3>
  <ul>
    <li *ngFor="let citta of cittaPreferite; index as i">
      <p>{{ citta.nome }}</p>
      <p>Temperatura: {{ citta.temperature }}°C</p>
      <button (click)="rimuoviDaPreferiti(i)">Rimuovi</button>
    </li>
  </ul>

  <footer>
    <div class="footer-left">
      <p>Contatti:</p>
      <p><span class="material-icons">email</span> Email: stefano.fortezza98&#64;hotmail.it</p>
      <p><span class="material-icons">phone</span> Telefono: +39 338.2857105</p>
    </div>
    <div class="footer-right">
      <p><a href="https://www.linkedin.com/in/stefano-fortezza" target="_blank">Linkedin</a></p>
      <p><a href="https://github.com/stefortezza" target="_blank">GitHub</a></p>
      <p><a href="https://github.com/stefortezza/VisualizzatorediMeteoconPreferiti" target="_blank">Repository Progetto</a></p>
      <p><a href="https://mgk.gestionalemagazzino.eu" target="_blank">Progetto FULL STACK realizzato da me e messo in rete</a></p>

    </div>
  </footer>
</div>
